<style>
    body {
     background-color: white;
     font-family: 'Arial', sans-serif;
 }
     .content {
         margin-left: 80px;
         text-align: center;
         font-size: 20px;
 }
     H1{
         margin-left: 100px;
     }
     p {
     margin-right: 180px;
     text-align: left;
 }
     img{
     height: 30%;
     width: 30% ;
     border-radius: 50%;
 }
 </style>
 <body>
 <div class="content" >
         <h1><strong> The Second Heading</strong> <strong style="color:#a33a3a">Is pretty Cool Too.</strong></h1>
             <p class="rounded-circle"> <img src="https://picsum.photos/id/200/200/200" alt="Trabajo" style="float:left" >Donec Ullamcorper nulla  non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque  nisl consectetur.
              fusce dapibus, tellus ac cursus commodo.</p>
 </div>
 </body>
